@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

@media only screen and (min-width:7680px) { body {max-width: 100%;}}
@page { size: 480mm 323mm; }

	 
figure {
	display: block;
	break-inside: avoid;
   
}

img {
    width: 100%;
	float: none;
	display: block;
    margin-left: auto;
	margin-right: auto;
	border-color: #0cb2c0;
	border-style: groove;
  
}

figcaption {
	font-family: 'Lobster', cursive;
	font-size: 1rem;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	border: 2px dotted #e8e6d9;
	
	margin-left: 10vw;
	margin-right: 10vw;
	
}

header {
	background-color: #FFFFFF;
	margin-left: 3vw;
	margin-right: 4vw;
	padding-bottom: 1em;
	width: 90%;
	
}

body { 
	background-color: #ffffff; /*sets this color as a default in case the image link doesn't function*/
	background-image: url("memphis-style.jpg");
	background-repeat: repeat, repeat-x, repeat-y;
	background-position: top, bottom, left, right;
	background-size: contain, cover;

	margin-top: 15vh;
	margin-right: 20vw;
	margin-left: 20vw;
	margin-bottom: 15vh; 

}

margin {
	margin-top: 10vh;
	margin-right: 20vw;
	margin-left: 20vw;
	margin-bottom: 10vh;
  
}

main > p {
	background-color: #ffffff;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	font-style: bold;
	font-size: 1rem;
	width: 80%;
	
}

p {
	margin: auto;
	padding: 1.5em 3em;
	
}

h1 {
	font-family: 'Fascinate Inline', cursive;
	text-align: center;
	font-size: 2.5rem;
	color: #e7684c;
	padding-top: 1em;

}

blockquote { 
	background-color: #e7684c;
	border-style: solid;
	font-family: 'Lobster', cursive;
	font-size: 1rem;
	color: #ffffff;
	word-wrap: break-word;
	float: center;
	padding: 2em 4em;
	margin-left: 3vw;
	margin-right: 3vw;
	
}


h2 {
	font-family: 'Syncopate', sans-serif;
	font-size: 1rem;
	text-align: center;
	color: #000000;
	background-color: #e8e6d9;
	border: 5px dotted #e7684c;
	
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: auto;
	padding-right: auto;

}

h3 {
	background-color: #ffffff;
	border: 5px solid #fad141;
	font-family: 'Syncopate', sans-serif;
	font-size: 1.2rem;
	text-align: center;
	color: #000000;
	padding: 1em 1.5em;
	margin-left: auto;
	margin-right: auto;
	
}


h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	text-align: justify;
	color: #000000;
	margin: auto 5vw;
}

h5 {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem ;
	text-align: center;
	color: #000000;
	
	border: 2px dashed #e7684c;
	border-radius: 16px; /* for a pill-shaped pattern */
	
}

table {
	border-collapse: collapse;
  
}

table.center {
	margin-left: 5vw;
	margin-right: 15vw;
	
}

td, th {
	border: 5px groove #e7684c;
	background-color: #ffffff;
	padding: 0.625em 0.3125em;
	
	text-align: left;
	font-family: 'Raleway', sans-serif;
	
}

th {
	font-family: 'Lobster', cursive;
	font-size: 1.2rem;
	font-weight: lighter;
	text-align: center;
	
}

td {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 1rem;

}

ol {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	text-align: left;
	color: #000000;
}

ul {
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-size: 1rem;
	color: #000000;
	
}

footer {
	background-color: #e8e6d9;
	text-align: center;
	border: 5px dotted #e7684c;
	margin-top: 1vh;
	padding:  0.625em 1em;
	
}